<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Huynh's Question 1</title>
</head>
<body>
    <h1><a href="../index.html">Link to Start Page</a></h1>
    <br>
    Title: <input type="text" name="title">
    <br>
    <br>
    Content:
    <br>
    <textarea id="content" name="content" row="4" cols="30">
        
    </textarea>
<br> 
<br>
    <input type="submit" value="Add" />

    <p id="result"></p>
    <script src="ex3.js"></script>
</body>
</html>